{% extends '_themes/sneat/base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Añadir rol</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Confirmar</button>
                <a class="btn btn-sm btn-outline-danger" href="{{ path('app_rol_index') }}">Cancelar</a>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}