<div class="p-2 flex-fill">
    <div class="card h-100 bg-light text-dark" >
        <h5 class="card-header d-flex text-primary">
            <span class="bx bx-calendar-event align-self-center pe-2"></span>Calendario de la semana
        </h5>
        <div class="card-body">
            <div id="calendar-holder"></div>
        </div>
    </div>
</div>